<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LeagueEngine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="League.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Xna.Framework" publicKeyToken="6D5C3888EF60E27D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <LeagueEngine.Properties.Settings>
   <setting name="map" serializeAs="String">
    <value>towdef</value>
   </setting>
  </LeagueEngine.Properties.Settings>
  <League.Properties.Settings>
   <setting name="map" serializeAs="String">
    <value>mars</value>
   </setting>
   <setting name="mouseScroll" serializeAs="String">
    <value>75</value>
   </setting>
   <setting name="keyScroll" serializeAs="String">
    <value>75</value>
   </setting>
  </League.Properties.Settings>
 </userSettings>
</configuration>
